* {
    font-family: 'Orbitron', sans-serif;
}

body {
    background: linear-gradient(to right, #000 0 55%, #57B8FF 45%)
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 28px;
    padding: 18px 18px auto;
}

img .logo {
    display: flex;
    align-items: center;
}

nav>a .link {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

a {
    text-decoration: none;
    color: white;
    margin: 30px 30px auto;
    font-weight: 400;
}

.buttons {
    display: flex;
    align-items: center;

}

.buttons .trash {
    display: flex;
    height: 32px;
    padding-right: 40px;
    align-items: center;
}

.buttons .zero {
    background-color: #fff;
    color: #141820;
    padding: 6px 6px;
    font-size: 11px;
    border-radius: 9px;
    line-height: 7px;
    position: absolute;
    top: 15px;
    right: 218px;
}

.buttons .contact-us {
    color: white;
    padding: 16px 31px;
    background: none;
    border: 1px solid #fff;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    user-select: none;
    align-items: center;
}
a:hover {
    color: #FAC422;
}
.wrapper {
    color: #57B8FF;
    margin-left: 100px;
    margin-top: 297px;;
    width: 203px;
    height: 16px;
}
.fire1{
    margin-left: 60px;
    margin-top: -22px;
}
.big {
    color: white;
    font-size: 72px;
    font-weight: 400;
    max-width: 656px;
    margin-left: 60px;;
    margin-top: -70px;
}
.vector{
    margin-left: 281px;
    margin-top: -170px;
}
.logo{
    margin-left: 41px;
}
.text{
    color: #999999;
    max-width: 615px;
    margin-left: 60px;
    margin-top: 100px;
}
.microchel{
    margin-left: 940px;
    margin-top: -400px;
    position: absolute
}
.explore{
    color: white;
    margin-left: 115px;
    ;
}
.soc-nav {
    display: flex;
    justify-content: space-around;
    transform: rotate(270deg);
    font-size: 11px;
}

.soc-ul {
    display: flex;
    list-style: none;
    position: absolute;
    bottom: 880px;
    left: 260px;
    padding-left: 660px;
}

.social-link {
    margin-right: 30px;
    text-decoration: none;
    color: #80858F;
}

.social-link:hover {
    color: #FFFFF;
}
.buttons2 {
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
    padding-top: 53px;
    margin-left: -8px;
}

.explore1 {
    text-decoration: none;
    color: #FFFFFF;
    padding-right: 34px;
    padding-left: 34px;
    padding-top: 21px;
    padding-bottom: 21px;
    border-style: solid;
    border-color: #57B8FF;
    width: 203px;
    height: 70px;
    background-color: #57B8FF;
    margin-left: 35px;
}

.explore {
    margin-right: 74px;
}
.view {
    margin-left: -95px;
}