* {
    font-family: 'Orbitron', sans-serif;
}

body {
    background: linear-gradient(to right, #000000 55%, #57B8FF 45%)
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 28px;
    padding: 18px 18px auto;
}

img .logo {
    display: flex;
    align-items: center;
}

nav>a .link {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

a {
    text-decoration: none;
    color: white;
    margin: 30px 30px auto;
    font-weight: 400;
}

.buttons {
    display: flex;
    align-items: center;

}

.buttons .trash {
    display: flex;
    height: 32px;
    padding-right: 40px;
    align-items: center;
}

.buttons .zero {
    background-color: #fff;
    color: #141820;
    padding: 6px 6px;
    font-size: 11px;
    border-radius: 9px;
    line-height: 7px;
    position: absolute;
    top: 15px;
    right: 218px;
}

.buttons .contact-us {
    color: white;
    padding: 16px 31px;
    background: none;
    border: 1px solid #fff;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    user-select: none;
    align-items: center;
}
a:hover {
    color: #FAC422;
}